* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,ol,li {
    list-style: none;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
body {
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
    font-size: 12px;
}
