/*番剧更新表 番剧动态*/
.main-page >.bangumi-schedule {
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
}
.main-page > .bangumi-schedule> .bangumi-left{
    width: 700px;
}
.main-page > .bangumi-schedule> .bangumi-left >.bangumi-title{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-page > .bangumi-schedule> .bangumi-left >.bangumi-title >.icon{
    background-image: url(../images/icons3.png);
    background-position: -141px -138px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -10px;
}
.main-page > .bangumi-schedule> .bangumi-left >.bangumi-title >.name{
    font-size: 24px!important;
    line-height: 24px;
    font-weight: 400;
    margin-right: 20px;
    color: #222;
}
.main-page > .bangumi-schedule> .bangumi-left >.bangumi-title >.week{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    margin-right: 20px;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccd0d7
}
.main-page > .bangumi-schedule> .bangumi-left >.bangumi-title >.week >.on{
    position: relative;
    transition: .2s;
    color: #00a1d6;
    border-bottom: 1px solid #00a1d6;
}
.main-page > .bangumi-schedule> .bangumi-left >.bangumi-title >.week >.on:before{
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -3px;
    bottom: 0;
    width: 0;
    height: 0;
    border: 3px dashed #00a1d6;
    border-bottom-style: solid;
    border-top: 0;
    border-left-color: transparent;
    border-right-color: transparent;
}
.main-page > .bangumi-schedule> .bangumi-left >.bangumi-title >.week >.w-item {
    cursor: pointer;
    width: 56px;
    text-align: center;
}
.main-page > .bangumi-schedule> .bangumi-left >.bangumi-title >.week >.w-item:hover{
    color: #00a1d6;
}
.main-page > .bangumi-schedule> .bangumi-left >.bangumi-title >.more{
    border: 1px solid #f25d8e;
    width: 104px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #f25d8e;
    font-size: 14px;
    border-radius: 4px;
    transition: .1s;
}
.main-page > .bangumi-schedule> .bangumi-left >.bangumi-title >.more:hover{
    color: #fff;
    background-color: #f25d8e;
}
.main-page > .bangumi-schedule> .bangumi-left >.bangumi-title >.more >.more-text{
    display: inline-block;
}
.main-page > .bangumi-schedule> .bangumi-left >.bangumi-title >.more >.more-text >.icon{
    display: inline-block;
    background-position: -478px -281px;
    background-image: url(../images/icons3.png);
    width: 6px;
    height: 11px;
    margin: -2px 0 0 5px;
    transition: all .2s;
}
.main-page > .bangumi-schedule> .bangumi-left >.schedule{
    width: 700px;
    margin: 26px 0 0 0;
    height: 400px;
    overflow-y: auto;
    position: relative;
}
/*滚动条样式*/
.main-page > .bangumi-schedule> .bangumi-left >.schedule::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background: #aaa;
}
.main-page > .bangumi-schedule> .bangumi-left >.schedule::-webkit-scrollbar-button{
    display: none;
}
.main-page > .bangumi-schedule> .bangumi-left >.schedule::-webkit-scrollbar-thumb{
    background: #e5e9ef;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.main-page > .bangumi-schedule> .bangumi-left >.schedule::-webkit-scrollbar-track{
    display: none;
}
.main-page > .bangumi-schedule> .bangumi-left >.schedule::-webkit-scrollbar-track-piece{
    background: #ddd;
}
.main-page > .bangumi-schedule> .bangumi-left >.schedule >.sch-item{
    position: absolute;
    display: none;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.main-page > .bangumi-schedule> .bangumi-left >.schedule >.on{
    display: flex;
}
.main-page > .bangumi-schedule> .bangumi-left >.schedule >.sch-item >.item{
    width: 180px;
    margin-bottom: 36px;
    margin-right: 46px;
    display: flex;
    justify-content: space-between;
}
.main-page > .bangumi-schedule> .bangumi-left >.schedule >.sch-item >.item >.logo{
    width: 72px;
    height: 72px;
    margin-right: 12px;
    overflow: hidden;
    border-radius: 4px;
}
.main-page > .bangumi-schedule> .bangumi-left >.schedule >.sch-item >.item >.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 96px;
    height: 72px;
}
.main-page > .bangumi-schedule> .bangumi-left >.schedule >.sch-item >.item >.info >.text{
    color: #aaa;
    line-height: 18px;
}
.main-page > .bangumi-schedule> .bangumi-left >.schedule >.sch-item >.item >.info >.text >span{
    background: #b8c0cc;
    color: #fff;
    border-radius: 9px;
    min-width: 36px;
    max-width: 82px;
    line-height: 18px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0 4px;
    margin-left: 5px;
}
.main-page > .bangumi-schedule> .bangumi-left >.schedule >.sch-item >.item >.info >.text >.new{
    background: #ff8eb3;
}
.main-page > .bangumi-schedule> .bangumi-right{
    width: 260px;
    min-height: 360px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-page > .bangumi-schedule> .bangumi-right >.title{
    display: flex;
    justify-content: space-between;
    height: 24px;
    line-height: 24px;
    margin-top: 5px;
}
.main-page > .bangumi-schedule> .bangumi-right >.title >p{
    font-size: 18px;
    margin-right: 20px;
}
.main-page > .bangumi-schedule> .bangumi-right >.title >.toggle{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    padding: 0 7px;
    height: 24px;
    line-height: 22px;
    border: 1px solid #ccd0d7;
    border-radius: 4px;
}
.main-page > .bangumi-schedule> .bangumi-right >.title >.toggle >.selected{
    display: inline-block;
}
.main-page > .bangumi-schedule> .bangumi-right >.title >.toggle >.icon{
    background-position: -475px -157px;
    background-image: url(../images/icons3.png);
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 6px;
    margin-left: 5px;
    margin-top: -1px;
}
.main-page > .bangumi-schedule> .bangumi-right >.title >.toggle >.dropdown-list{
    position: absolute;
    width: 100%;
    border: 1px solid #ccd0d7;
    border-top: 0;
    left: -1px;
    top: 22px;
    z-index: 10;
    display: none;
    border-radius: 0 0 4px 4px;
}
.main-page > .bangumi-schedule> .bangumi-right >.title >.toggle >.dropdown-list >li{
    cursor: pointer;
    padding: 3px 7px;
}
.main-page > .bangumi-schedule> .bangumi-right >.rank{
    position: relative;
    width: 260px;
    max-height: 360px;
}
.main-page > .bangumi-schedule> .bangumi-right >.rank >.a-item{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 260px;
    padding-left: 25px;
    margin-bottom: 20px;
}
.main-page > .bangumi-schedule> .bangumi-right >.rank >.a-item >.number{
    position: absolute;
    background-color: #b8c0cc;
    color: #fff;
    top: 0;
    left: 0;
    margin-right: 6px;
    height: 18px;
    width: 18px;
    line-height: 18px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
}
.main-page > .bangumi-schedule> .bangumi-right >.rank >.a-item >.num-top{
    background-color: #f25d8e;
}
.main-page > .bangumi-schedule> .bangumi-right >.rank >.a-item >.content{
    width: 100%;
}
.main-page > .bangumi-schedule> .bangumi-right >.rank >.a-item >.content >.title{
    color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-page > .bangumi-schedule> .bangumi-right >.rank >.a-item >.content >.title >.text-top{
    line-height: 18px;
    height: 18px;
    overflow: hidden;
}
.main-page > .bangumi-schedule> .bangumi-right >.rank >.a-item >.content >.title >.text{
    color: #99a2aa;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main-page > .bangumi-schedule> .bangumi-right >.see-more{
    display: block;
    height: 24px;
    line-height: 23px;
    background-color: #e5e9ef;
    text-align: center;
    border: 1px solid #e0e6ed;
    color: #222;
    border-radius: 4px;
    transition: .2s;
}
.main-page > .bangumi-schedule> .bangumi-right >.see-more:hover{
    background-color: #ccd0d7;
    border-color: #ccd0d7;
}
.main-page > .bangumi-schedule> .bangumi-right >.see-more >.icon{
    display: inline-block;
    vertical-align: middle;
    background-position: -478px -218px;
    background-image: url(../images/icons3.png);
    width: 6px;
    height: 12px;
    margin: -2px 0 0 5px;
}

/********************番剧动态*******************************/

.main-page >.bangumi {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.main-page > .bangumi> .bangumi-left{
    width: 700px;
}
.main-page > .bangumi> .bangumi-left >.bangumi-title{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-page > .bangumi> .bangumi-left >.bangumi-title >.on{
    position: relative;
    margin-right: 12px;
    height: 24px;
    line-height: 20px;
    cursor: pointer;
    padding: 1px 0 2px 0;
    transition: .2s;
    color: #00a1d6;
    border-bottom: 1px solid #00a1d6;
}
.main-page > .bangumi> .bangumi-left >.bangumi-title >.on:before{
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -3px;
    bottom: 0;
    width: 0;
    height: 0;
    border: 3px dashed #00a1d6;
    border-bottom-style: solid;
    border-top: 0;
    border-left-color: transparent;
    border-right-color: transparent;
}
.main-page > .bangumi> .bangumi-left >.bangumi-title >.name{
    font-size: 24px!important;
    line-height: 24px;
    font-weight: 400;
    margin-right: 20px;
    color: #222;
}
.main-page > .bangumi> .bangumi-left >.bangumi-title >.num{
    color: #99a2aa;
}
.main-page > .bangumi> .bangumi-left >.bangumi-title >.num>span{
    color: #00a1d6;
}
.main-page > .bangumi> .bangumi-left >.bangumi-title >.hot{
    margin-left: 40px;
    padding-right: 10px;
    color: #6d757a;
}
.main-page > .bangumi> .bangumi-left >.bangumi-title >.hot >.icon{
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/icons3.png);
    background-position: -665px -1113px;
    width: 14px;
    height: 14px;
    margin-top: -3px;
}
.main-page > .bangumi> .bangumi-left >.bangumi-title >.status{
    display: inline-block;
    cursor: pointer;
    border: 1px solid #ccd0d7;
    border-radius: 4px;
    vertical-align: top;
    height: 24px;
    padding: 0 10px;
    margin-left: 10px;
    transition: tab-item-a .2s;
}
.main-page > .bangumi> .bangumi-left >.bangumi-title >.status >.icon{
    background-image: url(../images/icons3.png);
    display: inline-block;
    width: 12px;
    height: 13px;
    vertical-align: top;
    transition: tab-item-a .5s;
    margin-top: 5px;
    background-position: -475px -89px;
}
.main-page > .bangumi> .bangumi-left >.bangumi-title >.status >.status-info{
    display: inline-block;
    vertical-align: top;
    line-height: 22px;
    margin-left: 5px;
}
.main-page > .bangumi> .bangumi-left >.bangumi-title >.status >.status-info >.status-num{
    font-weight: bold;
}
.main-page > .bangumi> .bangumi-left >.bangumi-title >.more{
    display: inline-block;
    width: 52px;
    height: 24px;
    line-height: 22px;
    border: 1px solid #ccd0d7;
    color: #555;
    border-radius: 4px;
    text-align: center;
    vertical-align: top;
    margin: 0 0 0 10px;
    transition: tab-item-a .2s;
}
.main-page > .bangumi> .bangumi-left >.bangumi-title >.more:hover{
    background-color: #ccd0d7;
}
.main-page > .bangumi> .bangumi-left >.bangumi-title >.more >.more-text{
    display: inline-block;
}
.main-page > .bangumi> .bangumi-left >.bangumi-title >.more >.more-text >.icon{
    display: inline-block;
    background-position: -478px -218px;
    background-image: url(../images/icons3.png);
    width: 6px;
    height: 11px;
    margin: -2px 0 0 2px;
    transition: all .2s;
}
.main-page > .bangumi> .bangumi-left >.bangumi-ct{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-page > .bangumi> .bangumi-left >.bangumi-ct >.item{
    width: 160px;
    height: 148px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.main-page > .bangumi> .bangumi-left >.bangumi-ct >.item >a >.pic{
    position: relative;
    width: 160px;
    height: 100px;
}
.main-page > .bangumi> .bangumi-left >.bangumi-ct >.item >a >.pic >img{
    border-radius: 4px;
}
.main-page > .bangumi> .bangumi-left >.bangumi-ct >.item >a >.pic >.mask{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    border-radius: 4px;
    transition: opacity .3s;
}
.main-page > .bangumi> .bangumi-left >.bangumi-ct >.item >a >.pic >.mask >.time{
    position: absolute;
    opacity: 1;
    bottom: 0;
    right: 1px;
    color: #fff;
    height: 19px;
    line-height: 12px;
    transition: tab-item-a .3s;
    background: rgba(0,0,0,.5);
    padding: 3px 5px;
    border-radius: 4px 0 4px 0;
}
.main-page > .bangumi> .bangumi-left >.bangumi-ct >.item >a >.a-hover {
    padding-top: 8px;
    height: 40px;
    line-height: 20px;
    transition: tab-item-a .2s linear;
    color: #222;
    word-wrap: break-word;
    word-break: break-tab-item-a;
    overflow: hidden;
    text-align: left;
}
.main-page > .bangumi> .bangumi-left >.bangumi-ct >.item >a >.info{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 20px;
    line-height: 20px;
    color: #99a2aa;
    background-color: #fff;
    transition: tab-item-a .3s;
}
.main-page > .bangumi> .bangumi-left >.bangumi-ct >.item >a >.info >.auther{
    line-height: 12px;
    height: 14px;
    width: 50%;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
}
.main-page > .bangumi> .bangumi-left >.bangumi-ct >.item >a >.info >.auther >.icon{
    background-position: -282px -90px;
    background-image: url(../images/icons3.png);
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: top;
    margin-right: 5px;
}
.main-page > .bangumi> .bangumi-left >.bangumi-ct >.item >a >.info >.audience{
    line-height: 12px;
    height: 14px;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
}
.main-page > .bangumi> .bangumi-left >.bangumi-ct >.item >a >.info >.audience >.icon{
    background-position: -282px -218px;
    background-image: url(../images/icons3.png);
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: top;
    margin-right: 5px;
}
.main-page > .bangumi> .bangumi-right{
    width: 260px;
    min-height: 360px;
    overflow: hidden;
}
.main-page > .bangumi> .bangumi-right >.title{
    display: flex;
    justify-content: space-between;
    height: 24px;
    line-height: 24px;
    margin-bottom: 15px;
}
.main-page > .bangumi> .bangumi-right >.title >.tab{
    display: flex;
    justify-content: flex-start;  
}
.main-page > .bangumi> .bangumi-right >.title >.tab >p{
    font-size: 18px;
}
.main-page > .bangumi >.bangumi-right >.carousel-inside{
    height: 268px;
    width: 260px;
    position: relative;
}
.main-page > .bangumi >.bangumi-right >.carousel-inside >.slide{
    display: flex;
    position: absolute;
    justify-content: flex-start;
    height: 268px;
    z-index: -1;
}
.main-page > .bangumi >.bangumi-right >.carousel-inside >.slide >div{
    width: 260px;
}
/*.main-page > .bangumi >.bangumi-right >.carousel-inside >.slide >div >a >.mask{

}*/
.main-page > .bangumi >.bangumi-right >.carousel-inside >.dot{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 26px;
    padding: 5px 0;
    background: rgba(0,0,0,.4);
}
.main-page > .bangumi >.bangumi-right >.carousel-inside >.dot >li{
    display: inline-block;
    height: 6px;
    width: 10px;
    margin-left: 8px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    transition: all .3s;
}
.main-page > .bangumi >.bangumi-right >.carousel-inside >.dot >.active{
    width: 30px;
    background: #f45d8f;
}


