/*直播*/
.main-page >.live {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.main-page > .live> .live-left{
    width: 700px;
}
.main-page > .live> .live-left >.live-title{
    margin-bottom: 15px;
}
.main-page > .live> .live-left >.live-title >.icon{
    background-image: url(../images/icons3.png);
    background-position: -141px -652px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -10px;
}
.main-page > .live> .live-left >.live-title >.name{
    font-size: 24px!important;
    line-height: 24px;
    font-weight: 400;
    margin-right: 20px;
    color: #222;
}
.main-page > .live> .live-left >.live-title >.num{
    color: #99a2aa;
}
.main-page > .live> .live-left >.live-title >.num>span{
    color: #00a1d6;
}
.main-page > .live> .live-left >.live-title >.hot{
    margin-left: 40px;
    padding-right: 10px;
    color: #6d757a;
}
.main-page > .live> .live-left >.live-title >.hot >.icon{
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/icons3.png);
    background-position: -665px -1113px;
    width: 14px;
    height: 14px;
    margin-top: -3px;
}
.main-page > .live> .live-left >.live-title >.status{
    display: inline-block;
    cursor: pointer;
    border: 1px solid #ccd0d7;
    border-radius: 4px;
    vertical-align: top;
    padding: 0 10px;
    margin-left: 10px;
    transition: all .2s;
}
.main-page > .live> .live-left >.live-title >.status >.icon{
    background-image: url(../images/icons3.png);
    display: inline-block;
    width: 12px;
    height: 13px;
    vertical-align: top;
    transition: all .5s;
    margin-top: 5px;
    background-position: -475px -89px;
}
.main-page > .live> .live-left >.live-title >.status >.status-info{
    display: inline-block;
    vertical-align: top;
    line-height: 22px;
    margin-left: 5px;
}
.main-page > .live> .live-left >.live-title >.status >.status-info >.status-num{
    font-weight: bold;
}
.main-page > .live> .live-left >.live-title >.more{
    display: inline-block;
    width: 52px;
    line-height: 22px;
    border: 1px solid #ccd0d7;
    color: #555;
    border-radius: 4px;
    text-align: center;
    vertical-align: top;
    margin: 0 0 0 10px;
    transition: all .2s;
}
.main-page > .live> .live-left >.live-title >.more:hover{
    background-color: #ccd0d7;
}
.main-page > .live> .live-left >.live-title >.more >.more-text >.icon{
    display: inline-block;
    background-position: -478px -218px;
    background-image: url(../images/icons3.png);
    width: 6px;
    height: 12px;
    margin: -2px 0 0 2px;
    vertical-align: middle;
    transition: all .2s;
}
.main-page > .live> .live-left >.live-ct{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-page > .live> .live-left >.live-ct >.item{
    width: 160px;
    height: 148px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.main-page > .live> .live-left >.live-ct >.item >a >.pic{
    position: relative;
    width: 160px;
    height: 100px;
}
.main-page > .live> .live-left >.live-ct >.item >a >.pic >img{
    border-radius: 4px;
}
.main-page > .live> .live-left >.live-ct >.item >a >.pic >.type{
    position: absolute;
    opacity: 1;
    bottom: 0;
    right: 1px;
    color: #fff;
    height: 19px;
    line-height: 12px;
    transition: all .3s;
    background: rgba(0,0,0,.5);
    padding: 3px 5px;
    border-radius: 4px 0 4px 0;
}
.main-page > .live> .live-left >.live-ct >.item >a >.pic >.mask{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    border-radius: 4px;
    transition: opacity .3s;
}
.main-page > .live> .live-left >.live-ct >.item >a >.pic >.mask >.mark{
    position: absolute;
    left: 55px;
    top: 40%;
    height: 20px;
    line-height: 20px;
    width: 48px;
    border-radius: 20px;
    text-align: center;
    background-color: #00a1d6;
    color: #fff;
}
.main-page > .live> .live-left >.live-ct >.item >a >.pic >.mask >.mark >.dot{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
    margin: -1px 4px 0 0;
    vertical-align: middle;
}
.main-page > .live> .live-left >.live-ct >.item >a >.a-hover {
    padding-top: 8px;
    height: 40px;
    line-height: 20px;
    transition: all .2s linear;
    color: #222;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    text-align: left;
}
.main-page > .live> .live-left >.live-ct >.item >a >.info{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 20px;
    line-height: 20px;
    color: #99a2aa;
    background-color: #fff;
    transition: all .3s;
}
.main-page > .live> .live-left >.live-ct >.item >a >.info >.auther{
    line-height: 12px;
    height: 14px;
    width: 50%;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main-page > .live> .live-left >.live-ct >.item >a >.info >.auther >.icon{
    background-position: -282px -154px;
    background-image: url(../images/icons3.png);
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: top;
    margin-right: 5px;
}
.main-page > .live> .live-left >.live-ct >.item >a >.info >.audience{
    line-height: 12px;
    height: 14px;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
}
.main-page > .live> .live-left >.live-ct >.item >a >.info >.audience >.icon{
    background-position: 0 0;
    background-image: url(../images/icons4.png);
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: top;
    margin-right: 5px;
}
.main-page > .live> .live-right{
    width: 260px;
    overflow: hidden;
}
.main-page > .live> .live-right >.tab{
    display: flex;
    justify-content: flex-start;
}
.main-page > .live> .live-right >.tab >.on{
    border-bottom: 1px solid #00a1d6;
}
.main-page > .live> .live-right >.tab >.on:before{
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -3px;
    bottom: 0;
    width: 0;
    height: 0;
    border: 3px dashed #00a1d6;
    border-bottom-style: solid;
    border-top: 0;
    border-left-color: transparent;
    border-right-color: transparent;
}
.main-page > .live> .live-right >.tab >.tab-panel:hover{
    color: #00a1d6;
}
.main-page > .live> .live-right >.tab >.tab-panel{
    position: relative;
    margin-right: 12px;
    height: 24px;
    line-height: 20px;
    cursor: pointer;
    padding: 1px 0 2px 0;
    transition: .2s;
}
.main-page > .live> .live-right >.tab-item{
    position: relative;
    margin-top: 23px;
    width: 260px;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    width: 260px;
    z-index: 999;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.rank{
    width: 260px;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.rank >.r-item{
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 260px;
    padding-left: 25px;
    margin-bottom: 14px;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.rank >.r-item >.number{
    position: absolute;
    background-color: #b8c0cc;
    color: #fff;
    top: 0;
    left: 0;
    margin-right: 6px;
    height: 18px;
    width: 18px;
    line-height: 18px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.rank >.r-item >.num-top{
    background-color: #f25d8e;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.rank >.r-item >.logo{
    margin-right: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.rank >.r-item >.content{
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.rank >.r-item >.content >p{
    display: flex;
    justify-content: space-between;
    color: #000;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.rank >.r-item >.content >p >.audience{
    color: #99a2aa;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.rank >.r-item >.content >p >.audience >.icon{
    background-position: 0 0;
    background-image: url(../images/icons4.png);
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-top: -2px;
    vertical-align: middle;
    margin-right: 4px;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.rank >.r-item >.content >span{
    margin-top: 4px;
    color: #99a2aa;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.follow{
    width: 260px;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.follow >.f-item{
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 14px;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.follow >.f-item >.logo{
    margin-right: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.follow >.f-item >.content{
    width: 205px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.follow >.f-item >.content >p{
    display: flex;
    justify-content: space-between;
    color: #000;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.follow >.f-item >.content >p >.audience{
    color: #99a2aa;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.follow >.f-item >.content >p >.audience >.icon{
    background-position: 0 0;
    background-image: url(../images/icons4.png);
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-top: -2px;
    vertical-align: middle;
    margin-right: 4px;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.follow >.f-item >.content >span{
    margin-top: 4px;
    color: #99a2aa;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.recommend{
    width: 260px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.recommend >.carousel-inside{
    height: 248px;
    position: relative;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.recommend >.carousel-inside >.slide{
    display: flex;
    position: absolute;
    justify-content: flex-start;
    height: 248px;
    z-index: -1;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.recommend >.carousel-inside >.slide >div{
    width: 260px;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.recommend >.carousel-inside >.dot{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 26px;
    padding: 5px 0;
    background: rgba(0,0,0,.4);
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.recommend >.carousel-inside >.dot >li{
    display: inline-block;
    height: 6px;
    width: 10px;
    margin-left: 8px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    transition: all .3s;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.recommend >.carousel-inside >.dot >.active{
    width: 30px;
    background: #f45d8f;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.recommend >.rec-card{
    display: flex;
    justify-content: space-between;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.recommend >.rec-card >a{
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    width: 56px;
    height: 56px;
}
.main-page > .live> .live-right >.tab-item >.carousel-outside >.recommend >.rec-card >a >.mask{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,.5);
    color: #fff;
}

