/*每日推荐*/
.main-page > .recommend {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.main-page > .recommend > .carousel {
    position: relative;
    width: 440px;
    height: 220px;
    overflow: hidden;
    border-radius: 4px;
}
.main-page > .recommend > .carousel >.slide {
    display: flex;
    position: absolute;
    justify-content: flex-start;
}
.main-page > .recommend > .carousel > .dot {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 6px;
    right: 20px;
}
.main-page > .recommend > .carousel > .dot >li {
    width: 18px;
    height: 18px;
    margin-left: 8px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
}
.main-page > .recommend > .carousel > .dot >.active {
    background: red;
}
.main-page > .recommend > .rec-ct {
    display: flex;
    width: 520px;
    height: 220px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}
.main-page > .recommend > .rec-ct > .rec-item {
    position: relative;
    width: 160px;
    height: 100px;
    border-radius: 4px;
    overflow: hidden;
}
.main-page > .recommend > .rec-ct > .rec-item >.info-card {
    position: absolute;
    top: 68px;
    width: 150px;
    padding: 10px 5px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}
.main-page > .recommend > .rec-ct > .rec-item >.info-card >p{
    overflow: hidden;
    height: 40px;
    color: #fff;
}